/* Give your page a fun background color */
body {
  background-color: #e0e0e0;
}

/* Make the header and footer a different color from the background */
h1 {
  background-color: #4dd081;
  }
  footer {
    background-color: #fff59d;
  }
/*h1 {
  color: #7cb342;
}
footer {
  color: #ef6c00;
}*/

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */
p {
  color: #1e88e5;
  font-style: italic;
}

/* Put a border around your image */
img {
  border: 100px solid #e0f7fa;
}

/* Change the font-family of your list */
ul {
  font-family: Arial;
}
