/* Give your page a fun background color */
body {
  background-color: #e0e0e0;
}

/* Make the header and footer a different color from the background */
h1 {
  background-color: #f57f17;
  }
  footer {
    background-color: #ffc107;
  }
/*h1 {
  color: #7cb342;
}
footer {
  color: #ef6c00;
}*/

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */
p {
  color: #2e7d32;
  font-style: italic;
}
h4 {
  text-align: right;
  color: #4e342e;
}

/* Put a border around your image */
img {
  border: 50px solid #9ccc65;
  width: 250px;
  length: 250px;
}

/* Change the font-family of your list */
ul {
  font-family: Arial;
}
